@model CharityManagement.Models.Verification

@{
    ViewBag.Title = "Approve";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Approve</h2>
<script>
    function display(id) {
        document.getElementById(id).style.visibility = "visible";
    }
</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Verification</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*<div>
                    <img src="@Url.Content(Session["image"].ToString())" id="top" style="visibility:hidden" />
                </div>
                <div>
                    <img src="@Url.Content(Session["image"].ToString())" onclick="display('top')" id="middle" style="visibility:hidden" />
                </div>*@
                <img src="@Url.Content(Session["image"].ToString())" onclick="display('middle')" />

                @*<img src="@Url.Content(Session["image"].ToString())" width="100" height="100" />*@
                @*@Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Status" , null, htmlAttributes: new { @class = "form-control" })
                @*@Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </div>
    </div>
}

@*<div>
    <img src="@Url.Content(Session["image"].ToString())" id="top" style="visibility:hidden" />
</div>
<div>
    <img src="@Url.Content(Session["image"].ToString())" onclick="display('top')" id="middle" style="visibility:hidden" />
</div>
    <img src="@Url.Content(Session["image"].ToString())" onclick="display('middle')" />*@
