@model IEnumerable<CharityManagement.Models.Donation>

@{
    ViewBag.Title = "Donations";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Donations</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TransactionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TransactionDate)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
