@model IEnumerable<CharityManagement.Models.NGO>

@{
    ViewBag.Title = "NGODetail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>NGODetail</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
    </tr>
}

</table>
